<div class="hello">
	Hi, I'm Simon
</div>

<div class="projects">
	<div class="project">
		<div id="project-title">
			MSWYL
		</div>
		<div id="project-image">
			IMAGE GO<br>
			HERE
		</div>
		<div id="project-body">
			Yo, this project does big stuff like mike jones.
		</div>
	</div>


</div>